<div class="container">
    <h2 class="section-heading">{{title}}</h2>
  <div class="row">
      <form (ngSubmit)="onSubmit()">
          <label for="searchTerm">Search Term</label>
          <input [(ngModel)]="searchTerm" class="u-full-width" type="text" id="searchTerm" name="searchTerm">
          <button type="submit" class="button button-primary">Search</button>
      </form>

  </div>

  <div class="loader">
      <div *ngIf="loading" class="loading"></div>
  </div>

  <section class="images">
      <div class="gallery" *ngFor="let image of hits">
        <a href="{{image.pageURL}}" taget="_blank">
          <img class="imgg one-column  u-max-full-width" src="{{ image.webformatURL }}" >
        </a>
        <div class="desc button button-primary" id="desc">
            <i class="fas fa-eye test">{{image.views}}</i>
            <i class="fas fa-thumbs-up test">{{image.likes}}</i>
            <i class="fas fa-comments test">{{image.comments}}</i>
        </div>
      </div>
  </section>












</div>
